@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0aaee2;
  --color-secondary: #552bd8;
  --color-background: #2a2a2a;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
